# These file types are being explicitly set to linux line endings for windows.
# This is to allow windows user to edit and run these files inside a linux docker
# this list may need additions as time goes on
*.sh eol=lf
*.bsh eol=lf
*.py eol=lf
*.env eol=lf
.justplugins eol=lf